li
    | <a class="avatar" href="http://t.qq.com/#{status.name}">
    | <img src="#{status.head}/50" 
    | width="50" height="50" />
    | </a>
    | <a href="#{status.name}" class="user" >
    | #{status.nick}</a> <br />
    | !{status.text}        
    - if (status.source)
        p
            | <a href="http://t.qq.com/#{status.source.name}">
            | #{status.source.nick}
            | </a> ：
            | !{status.source.text}

    - if (status.image)
        img(src=status.image[0] +"/160", class="thumb")
