li
    | <a class="avatar" href="#{sinatimeline.user.url}">
    | <img src="#{sinatimeline.user.profile_image_url}" 
    | width="50" height="50" />
    | </a>
    | <a href="#{sinatimeline.user.url}" class="user" >
    | #{sinatimeline.user.screen_name}</a> <br />
    | #{sinatimeline.text}        
    - if (sinatimeline.retweeted_status)
        p
            | <a href="#{sinatimeline.retweeted_status.user.url}">
            | #{sinatimeline.retweeted_status.user.screen_name}
            | </a> ：
            | #{sinatimeline.retweeted_status.text}

    - if (sinatimeline.thumbnail_pic)
        img(src=sinatimeline.thumbnail_pic, class="thumb")
