li
    | <a class="avatar" href="#{status.user.url}">
    | <img src="#{status.user.profile_image_url}" 
    | width="50" height="50" />
    | </a>
    | <a href="#{status.user.url}" class="user" >
    | #{status.user.screen_name}</a> <br />
    | #{status.text}        
    - if (status.retweeted_status)
        p
            | <a href="#{status.retweeted_status.user.url}">
            | #{status.retweeted_status.user.screen_name}
            | </a> ：
            | #{status.retweeted_status.text}

    - if (status.thumbnail_pic)
        img(src=status.thumbnail_pic, class="thumb")
